/* La pseudo-classe :root permet de cibler la racine de l'arbre représentant le document. Pour un document HTML, :root ciblera donc l' élément <html>et aura le même comportement que le sélecteur html mais sa spécificité sera plus forte. */
:root {
    --black: #000;
    --grey: rgb(223, 216, 205);
    --white: #fff;
    --red: #f00;
    --bordure: #000
}

/* reset css */
* {
    padding: 0;
    margin: 0;

}

/* selection du header et du footer */
header,
footer {
    padding: 30px;
}


/* selection du hero et section article */
.hero,
.wrap-article {
    max-width: 1000px;
    margin-inline: auto;
}

/* selection du hero */
.hero {
    margin: 50px auto;
    padding: 30px;
    border: 1px dashed var(--bordure) !important;
    box-sizing: border-box;

}

/* selection du para du hero */
.hero p {
    margin: 20px 0;
}

/* selection du btn dans le hero */
.btn-h {
    text-decoration: none;
    background: var(--black);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--white);
    transition: .6s ease;
}

/* evenement sur le btn */
.btn-h:hover {
    background: var(--red);
}

/* selection section article  */
.wrap-article {
    box-sizing: border-box;
    margin-bottom: 50px;
}

/* selection section article pour le flex */
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

.item-article {
    width: 32%;
    padding: 20px;
    box-sizing: border-box;
}